/**
 * Placeholder for custom user CSS
 *
 * mainly to be overridden in profile/static/custom/custom.css
 *
 * This will always be an empty file in IPython
 *
 */

/*
 * Code block
 */
.CodeMirror pre, div.input_prompt, .completions select {
    font-family: 'Consolas', 'Menlo', 'Ubuntu Mono', monospace, Monaco, sans-serif;
    font-size: 15px;
}

/*
 * Markdown
 */
.rendered_html pre, .rendered_html code {
    background: #E0E0E0;
}

.rendered_html pre {
    margin: .5em 1em;
    padding: .5em 1em;
}
